.floating-button {
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #202024;
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
  }
  
  .floating-button button {
    background: none;
    border: none;
    cursor: pointer;
  }
  